Client/*
!Client/996M2D.exe
!Client/game.dat
!Client/version_login.txt
!Client/dev

MirServer/Mir200/clibs
MirServer/DBServer/*
MirServer/Log
MirServer/Mir200/Log
MirServer/LoginGate/*
MirServer/LoginSrv/*
MirServer/RunGate/*
MirServer/RunGateH5/*

!MirServer/996M2引擎帮助文档.chm
!MirServer/GameCenter.exe
!MirServer/GCConfig.ini
!MirServer/DBServer/DBServer.exe
!MirServer/DBServer/DBServer.map
!MirServer/LoginGate/BlockIPList.txt
!MirServer/LoginGate/Config.ini
!MirServer/LoginGate/libcrypto-1_1.dll
!MirServer/LoginGate/libcrypto-3-x64.dll
!MirServer/LoginGate/libeay32.dll
!MirServer/LoginGate/libssl-1_1.dll
!MirServer/LoginGate/libssl-3-x64.dll
!MirServer/LoginGate/LoginGate.exe
!MirServer/LoginGate/msvcr120.dll
!MirServer/LoginGate/ssleay32.dll
!MirServer/LoginGate/wslib.dll
!MirServer/LoginGate/wslib_x64.dll
!MirServer/LoginGate/Key/dh2048.pem
!MirServer/LoginSrv/LoginSrv.exe
!MirServer/RunGate/RunGate.dll
!MirServer/RunGate/RunGate.exe
!MirServer/RunGate/RunGate.map
!MirServer/RunGateH5/libcrypto-1_1.dll
!MirServer/RunGateH5/libcrypto-3-x64.dll
!MirServer/RunGateH5/libeay32.dll
!MirServer/RunGateH5/libssl-1_1.dll
!MirServer/RunGateH5/libssl-3-x64.dll
!MirServer/RunGateH5/msvcr120.dll
!MirServer/RunGateH5/RunGate.ini
!MirServer/RunGateH5/RunGateH5.exe
!MirServer/RunGateH5/ssleay32.dll
!MirServer/RunGateH5/wslib.dll
!MirServer/RunGateH5/wslib_x64.dll
!MirServer/RunGateH5/Key/dh2048.pem
!MirServer/RunGateH5/Key/Server.crt
!MirServer/RunGateH5/Key/Server.key

Tool/996M2资源集成工具/UserPath
Tool/996M2资源集成工具/tools
